<div>
    <h2>60 đề thi sát hạch lý thuyết online </h2>
    <br>
    {{#each arr}}
    <button type="button" class="btnQs" onclick="location.href = 'http://localhost:3000/{{this}}/1'">Đề
        {{this}}</button>
    {{/each}}
</div>